.todo {
  width: 100%;
  position: relative;
  border-bottom: solid 1px rgb(221, 221, 221);
  display: flex;
  align-items: center;
  background: white;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  animation-name: opacity1;
  animation-duration: 300ms;
  justify-content: space-around;
  p {
    position: relative;
    word-wrap: break-word;
    padding: 20px 0;
    width: 77.2%;
    @media (max-width: 620px) {
      font-size: 16px;
    }
  }
}

.todo:hover .deleteBtn {
  opacity: 1;
}

.todo:hover .checkbox {
  border: solid hsl(280, 87%, 65%) 1px;
}

.todo:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.checkboxContainer {
  padding: 20px 0;
}
.checkbox {
  border: solid var(--LightGrayishBlue) 1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 300ms ease-in-out;
}
.checkbox.darkmode {
  border: solid var(--VeryDarkGrayishBlue) 1px;
}
.checked {
  border: 0;
  background: linear-gradient(var(--CheckBackground));
}

.deleteBtn {
  position: relative;
  z-index: 10;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-width: 60px;
  transition: opacity 300ms ease-in-out;
  @media (max-width: 620px) {
    opacity: 1;
  }
}

.todo.darkmode {
  background: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayishBlue);
  border-bottom: solid 1px var(--VeryDarkGrayishBlue);
}
